.currency {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    gap: 4rem;
    padding-top: 8rem;
}

.currency_country {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency_flag {
    height: 3rem;
}
.currency_name {
    font-size: 1.5rem;
    padding-left: 0.2rem;
}

.currency_value {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    border: none;
    border-radius: 0;
    color: #737373;
    background: transparent;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.currency_exchange {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency_pic {
    height: 3rem;
}

#hidden-cny,
#hidden-eur {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    background-color: beige;
}

#currency-cny-value {
    caret-color: #fb7185;
}

#currency-eur-value {
    caret-color: #22d3ee;
}
