@font-face {
    font-family: "Berkeley Mono Data";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url("./fonts/berkeley-mono-data/berkeley-mono-data.woff2")
            format("woff2"),
        url("./fonts/berkeley-mono-data/berkeley-mono-data.woff") format("woff"),
        url("./fonts/berkeley-mono-data/berkeley-mono-data.ttf")
            format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: "Courier"; */
    font-family: "Berkeley Mono Data";
    text-transform: uppercase;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #737373;
    height: 100vh;
    background-image: url("images/world.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.timezone {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.middle_card {
    padding-top: 10vh;
}

.location_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    width: 75vw;
}

.location_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.location_info {
    display: flex;
    flex: 2 1 37.5%;
}

.location_place {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
}

.location_name {
    font-size: 1.5rem;
    font-weight: bold;
}

.location_tz {
    font-size: 1rem;
}

.location_date {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.location_time {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.location_status {
    display: flex;
    justify-content: center;
}

.location_face {
    width: 2.8rem;
}

.tzconv_range {
    margin-top: 0.8rem;
    width: 80vw;
}

.timeslider {
    position: absolute;
    outline: none;
    width: 80vw;
    background-color: transparent;
    appearance: none;
    z-index: 2;
}

.timeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #26a6d1;
    opacity: 0.7;
    border: white;
    cursor: pointer;
    outline: 0.2rem solid #fafafa;
}

.heatmap {
    display: flex;
    align-items: center;
    color: transparent;
    z-index: 3;
    padding-top: 0.4rem;
}

li {
    height: 0.7rem;
    border-radius: 0.1rem;
}

.heatmap-good {
    left: 0%;
    width: 20%;
    background-color: #bef264;
}

.heatmap-neutral {
    left: 20%;
    width: 70%;
    background-color: #fde047;
}

.heatmap-bad {
    left: 70%;
    width: 100%;
    background-color: #fda4af;
}

#slider {
    padding-top: 0.4rem;
}

#sliderTable {
    width: 80vw;
    height: 0.6rem;
    border-radius: 0.1rem;
}
