.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: #f24c3d; */
    font-family: "Courier New", Courier, monospace;
    height: 100vh;
    padding-bottom: 10vh;
}

.location_card {
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 0.5rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    position: relative;
    width: 80vw;
}

.location_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_info {
    /* background-color: aliceblue; */
    display: flex;
    flex: 2 1 37.5%;
}

.location_place {
    padding-left: 0.5rem;
}

.location_name {
    font-size: 1rem;
    font-weight: bold;
}

.location_tz {
    font-size: 0.6rem;
}

.location_date {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
}

.location_time {
    /* background-color: aqua; */
    font-size: 1rem;
    font-weight: bold;
}

.location_status {
    /* background-color: aquamarine; */
}
