.top_card {
    padding-top: 2rem;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    width: 80vw;
}

.weather-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.weather-condition-icon {
    width: 5rem;
}
